<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example_colored_box">
	
	<xacro:include filename="$(find urdf_juggle)/colored_link.urdf.xacro" />
	<xacro:include filename="$(find urdf_juggle)/inertials.urdf.xacro" />
	
	<xacro:colored_link name="box" color="0 0.8 0" transparency="0.3">
		<visual>
			<geometry>
				<box size="1 1 1" />
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0" />
		</visual>
		<other>
			<collision>
				<geometry>
					<box size="2 2 2" />
				</geometry>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<contact_coefficients mu="0.0005" kp="5884" kd="1.03e-7" />
			</collision>
			<inertial>
				<origin xyz="0 0 0" />
				<xacro:box_inertia mass="1000" size="0.8 0.8 0.8" />
			</inertial>
		</other>
	</xacro:colored_link>
	
</robot>